<div
    class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div
            class="col d-flex flex-column justify-content-center align-items-center">
            <i class="bi bi-person-fill fs-1 text-primary text-center"></i>
            <span class="fs-2 fw-bold text-center">Create an account</span>
            <span class="fs-4 mb-4 text-secondary text-center"
                >Please fill in all the sections below</span
            >
            <form #registerForm="ngForm" (ngSubmit)="onRegister()">
                <div>
                    <input
                        type="text"
                        class="form-control"
                        id="firstName"
                        placeholder="First name"
                        [(ngModel)]="user.firstName"
                        #firstName="ngModel"
                        name="firstName"
                        pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
                        maxlength="100"
                        required />
                </div>
                <div *ngIf="firstName.touched" class="text-danger">
                    <small *ngIf="firstName.errors?.['required']">
                        First name is required.
                    </small>
                    <small *ngIf="firstName.errors?.['pattern']">
                        First name format not valid.
                    </small>
                </div>
                <div class="mb-2"></div>
                <div>
                    <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        placeholder="Last name"
                        #lastName="ngModel"
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+"
                        maxlength="100"
                        required />
                </div>
                <div *ngIf="lastName.touched" class="text-danger">
                    <small *ngIf="lastName.errors?.['required']">
                        Last name is required.
                    </small>
                    <small *ngIf="lastName.errors?.['pattern']">
                        Last name format not valid.
                    </small>
                </div>
                <div class="mb-2"></div>
                <div>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        placeholder="Email"
                        [(ngModel)]="user.email"
                        #email="ngModel"
                        name="email"
                        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                        maxlength="255"
                        required />
                </div>
                <div *ngIf="email.touched" class="text-danger">
                    <small *ngIf="email.errors?.['required']">
                        Email is required.
                    </small>
                    <small *ngIf="email.errors?.['pattern']">
                        Email format not valid.
                    </small>
                </div>
                <div class="mb-2"></div>
                <div>
                    <input
                        type="tel"
                        class="form-control"
                        id="phoneNumber"
                        placeholder="Phone number"
                        [(ngModel)]="user.phoneNumber"
                        #phoneNumber="ngModel"
                        name="phoneNumber"
                        maxlength="10"
                        pattern="^07[0-9]{8}$"
                        required />
                </div>
                <div *ngIf="phoneNumber.touched" class="text-danger">
                    <small *ngIf="phoneNumber.errors?.['required']">
                        Phone number is required.
                    </small>
                    <small *ngIf="phoneNumber.errors?.['pattern']">
                        Phone number not valid.
                    </small>
                </div>
                <div class="mb-2"></div>
                <div>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        [(ngModel)]="user.password"
                        #password="ngModel"
                        name="password"
                        required />
                </div>
                <div *ngIf="password.touched" class="text-danger">
                    <small *ngIf="password.errors?.['required']">
                        Password is required.
                    </small>
                </div>
                <div class="mb-2"></div>
                <div>
                    <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        placeholder="Confirm password"
                        [(ngModel)]="user.confirmPassword"
                        #confirmPassword="ngModel"
                        name="confirmPassword"
                        required />
                </div>
                <div *ngIf="confirmPassword.touched" class="text-danger">
                    <small *ngIf="confirmPassword.errors?.['required']">
                        Confirm your password.
                    </small>
                </div>
                <div class="mb-2"></div>
                <div class="d-grid">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!registerForm.valid">
                        Register
                    </button>
                </div>
            </form>
            <a class="text-reset text-decoration-none" routerLink="../login"
                >Already have an account?</a
            >
        </div>
    </div>
</div>
